<!DOCTYPE html>
<html lang="en">

<head>
    <title>SignUp</title>
</head>

<body>
    <ul>
        <li><a href="/list">Lista de Usuarios</a></li>
    </ul>
    <p></p>
    <form action="register" method="post">
        <p>Name</p>
        <input type="nome" name="nome" class="form-control" />
        <p>Email</p>
        <input type="categoria" name="categoria" class="form-control" />
        <p>Address</p>
        <input type="preco" name="preco" class="form-control" />
        <button type="submit"> Submit</button>
    </form>
</body>

</html>